@model _4Tuga.Models.Post

@{
    ViewBag.Title = "Details";
}

<section class="well">
    <h1>
        Detalhes
    </h1>
    Post
</section>

<div>
    <dl class="dl-horizontal">
        @if (Model.FilesPost.Any(f => f.FileType == FileType.Avatar))
            {
            <dt>
                Imagem
            </dt>
            <dd>
                <img src="~/FilePost?id=@Model.FilesPost.First(f => f.FileType == FileType.Avatar).FilePostId" alt="avatar" />
            </dd>
            }
        else
        {
            <dd>
                <img width="300" height="200" src="~/images/62182.jpg" alt="avatar" />
            </dd>
        }
      
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>

        <dt>
           

        </dt>

       

        <dt>
            @Html.DisplayNameFor(model => model.SubCategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index", "Categories")
</p>
