@model IEnumerable<_4Tuga.Models.Post>
@using _4Tuga.DAL;
@using _4Tuga.Models;
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}

<section class="well">
    <h1>
        SubCat Name
        <span class="pull-right">
            @Html.ActionLink(" ", "Create", null, new { @class = "glyphicon glyphicon-plus-sign" })
        </span>
    </h1>
</section>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="thumbnailW">
                <h3>
                    @Html.ActionLink(item.Title, "Details", new { id = item.ID })
                </h3>
                @Html.DisplayFor(modelItem => item.Body)
                <div>
                    @if (item.FilesPost.Any(f => f.FileType == FileType.Avatar))
                    {
                        <img width="500" height="300" src="~/FilePost?id=@item.FilesPost.First(f => f.FileType == FileType.Avatar).FilePostId" alt="avatar" align="left" />
                    }
                    else
                    {
                        <img width="500" height="300" src="~/images/62182.jpg" alt="avatar" align="left" />
                    }
                </div>
                <div>
                    @if (item.User.Id == User.Identity.GetUserId() || User.IsInRole("Admin"))
                    {
                        <a>
                            @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                        </a>
                        <a>
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
                        </a>
                    }
                </div>
                <div>
                    <p>
                        Criado por @Html.DisplayFor(modelItem => item.User.Name)
                        <span class="pull-right">
                            Publicado a @Html.DisplayFor(modelItem => item.PublishDate)
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
}
