@using _4Tuga.Models
@using System.Data.Entity
@model _4Tuga.Models.ApplicationUser

@{

    ViewBag.Title = "Details";
}


<h2>@ViewBag.Title</h2>

@Html.AntiForgeryToken()
<div>
    <h4>Detalhes do utilizador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.Email, "Email")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Email, "Nome")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Email, "Sexo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Email, "Data de Nascimento")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofBirth)
        </dd>

        <dt>
            Avatar
        </dt>
        @if (Model.Files.Any(f => f.FileType == FileType.Avatar))
        {
            <dd>
                <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" />
            </dd>
        }
        else
        {
        
            <dd>
                <img src="~/images/62182.jpg" alt="avatar" />
            </dd>
        }
        <dd>
            @using (Html.BeginForm("userdet", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="file" id="Avatar" name="upload" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Change Avatar" />
                    </div>
                </div>
            }
        </dd>
     </dl>
    @Html.ActionLink("Mudar Password", "Manage", "Account", routeValues: null, htmlAttributes: new { id = "Manage" })
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}