@model _4Tuga.ViewModels.CategoryIndexData
@using Microsoft.AspNet.Identity;
@using _4Tuga.DAL;
@{
    ApplicationDbContext db = new ApplicationDbContext();
}

@{
    ViewBag.Title = "Index";
}

<section class="well">
    <h2>
        Categorias
            <span class="pull-right">
            @Html.ActionLink(" ", "Create", null, new { @class = "glyphicon glyphicon-plus-sign" })
            </span>
    </h2>
</section>

<table class="table">
    <tr>
        <th></th>
        <th>Nome</th>
        <th></th>
    </tr>

@foreach (var item in Model.Categories)
{
    string selectedRow = "";
    if (item.ID == ViewBag.ID)
    {
        selectedRow = "success";
    }
    <tr class="@selectedRow" onclick='window.location.href="/Categories/Index/@item.ID"'>
        <td>
            @Html.ActionLink(" ", "Index", new { id = item.ID }, new { @class = "glyphicon glyphicon-hand-right" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td> 
                <span class="pull-right">
                    @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-wrench" })
                    @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "glyphicon glyphicon-th-list" })
                    @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
                </span>
        </td>
    </tr>
}
    
</table>

<div>

@if (Model.SubCategories != null)
{
    <section class="well">
        <h2>
            SubCategorias
                <span class="pull-right">
                    @Html.ActionLink(" ", "Create", "SubCategories", null, new { @class = "glyphicon glyphicon-plus-sign" })
                </span>
        </h2>
    </section>
    
    <table class="table">
        <tr>
            <th></th>
            <th>Nome</th>
            <th></th>
        </tr>

        @foreach (var item in Model.SubCategories)
        {
            string selectedRow = "";
            if (item.ID == ViewBag.SubCategoryID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink(" ", "Index", new { id = item.Category.ID, subcatID = item.ID }, new { @class = "glyphicon glyphicon-hand-right" })
                </td>
                <td>
                    @item.Name
                </td>
                <td>   
                    <span class="pull-right">
                        @Html.ActionLink(" ", "Edit", "SubCategories", new { id = item.ID }, new { @class = "glyphicon glyphicon-wrench" })
                        @Html.ActionLink(" ", "Details", "SubCategories", new { id = item.ID }, new { @class = "glyphicon glyphicon-th-list" })
                        @Html.ActionLink(" ", "Delete", "SubCategories", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
                    </span>
                </td>
            </tr>
        }

    </table>
}

</div>

<div>
@if (Model.Posts != null)
{
    <section class="well">
        <h2>
            Posts
            <span class="pull-right">
                @Html.ActionLink(" ", "Create", "Posts", null, new { @class = "glyphicon glyphicon-plus-sign" })
            </span>
        </h2>
    </section>

        foreach (var item in Model.Posts)
        {
            string selectedRow = "";
            if (item.ID == ViewBag.ID)
            {
                selectedRow = "success";
            }
            <table class="@selectedRow">

                <tr class=" table">
                    <th colspan="2 " class="text-center">
                       <div class="PostTitulo">@item.Title</div> 
                    </th>
                </tr>
                @if (item.FilesPost.Any(f => f.FileType == FileType.Avatar))
                {

                <tr class="PostImagem text-center">
                    <td colspan="2">
                        <img width="450" height="250" src="~/FilePost?id=@item.FilesPost.First(f => f.FileType == FileType.Avatar).FilePostId" alt="avatar" />
                    </td>
                </tr>
                }
                else
                {
                <tr class="PostImagem text-center">
                    <td colspan="2">
                        <img width="250" height="150" src="~/images/62182.jpg" alt="avatar" />
                    </td>
                </tr>
                }


                <tr class="PostBody">
                    <td colspan="2">
                    @item.Body
                </td>
                </tr>
                <tr>
                <td>
                    @{
                        var post = db.Posts.FirstOrDefault(p => p.ID == item.ID);   
                        
                    }
                    @post.User.Name
                </td>
                    <td class="PostDate pull-right">
                        @item.PublishDate


                        @if (Request.IsAuthenticated)
                            {

                        <a>
                                @Html.ActionLink(" ", "Edit", "Posts", new { id = item.ID }, new { @class = "glyphicon glyphicon-wrench" })
                        @Html.ActionLink(" ", "Details", "Posts", new { id = item.ID }, new { @class = "glyphicon glyphicon-th-list" })
                                @Html.ActionLink(" ", "Delete", "Posts", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
                        </a>
                            }
                </td>
            </tr>
            </table>
            <br />
            <br />
            <br />
        }
}

</div>

    